
 
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar ">
  <div class="container">
     <!-- Brand -->
     <a class="navbar-brand" href="#" target="_blank">
     <img src="assets/img/logoconcor.png" style=" height:60px;">
     </a>
     <div class="text-center d-flex justify-content-center w-100 align-items-center ">
       <h4 class="font-weight-500 h4-responsive white-text my-2 py-2 text-shadow "> Container Corporation Of India Limited </h4>
     </div>
     <!-- Collapse -->
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <!-- <span class="navbar-toggler-icon"></span> -->
     </button>
         
  </div>
</nav>

 <section class="view intro-2">
  
 <div class="mask rgba-stylish-light h-100 d-flex justify-content-center align-items-center">
   <div class="container">
     <div class="row">
       <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">

        
         <div class="card " >
           <div class="card-body">

           
             <div class="form-header blue-gradient p-0">
               <h5 class="font-weight-500 h4-responsive white-text my-2 py-2">FMLM Login</h5>
             </div>

            
             <div class="md-form">
               <i class="fas fa-user prefix grey-text"></i>
               <input type="text" id="orangeForm-name" class="form-control">
               <label for="orangeForm-name">Your name</label>
             </div>

     

             <div class="md-form">
               <i class="fas fa-lock prefix grey-text"></i>
               <input type="password" id="orangeForm-pass" class="form-control">
               <label for="orangeForm-pass">Your password</label>
             </div>
             <div class="row mb-4">
               <div class="col-md-6 d-flex justify-content-center">
               
                 <div  class="form-check">
                   <input  type="checkbox" checked="" class="form-check-input" id="30exampleCheck120">
                   <label  class="form-check-label" for="30exampleCheck120">Remember User</label>
                 </div>
               </div>

               <div class="col-md-6 d-flex justify-content-center">
               
                 <a href="#!">Forgot password?</a>
               </div>
             </div>

             <div class="text-center">
               <button class="btn btn-sm blue-gradient">Login</button>
             
             </div>

           </div>
         </div>
       

       </div>
     </div>
   </div>
 </div>
</section> 





<!-- <section class="view intro-2">
  <div class="mask rgba-stylish-light h-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">

         
          <div class="card wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;">
            <div class="card-body">

            
              <div class="form-header blue-gradient p-0">
                <h5 class="font-weight-500 white-text h4-responsive my-2 py-2">Forget your password ?</h5>
              </div>
<p> Don't worry. Reseting your password is easy, just tell us the email address  ad mobile no. you Resgistered with us. </p>
             
              <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control">
                <label for="orangeForm-name">Resgistered Email</label>
              </div>


              <div class="md-form">
                <i class="fas fa-mobile prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control">
                <label for="orangeForm-pass">Resgistered Mobile</label>
              </div>
              <div class="row mb-4">
              

                <div class="col-md-12  text-center d-flex justify-content-center">
                
                  <a href="#!">Already Have OTP ?</a>
                </div>
              </div>

              <div class="text-center">
                <button class="btn btn-sm btn-outline-danger waves-effect waves-light">Cancel</button>
                <button class="btn btn-sm blue-gradient waves-effect waves-light">Submit</button>
               
              </div>

            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section> -->









<!-- <section class="view intro-2">
  <div class="mask rgba-stylish-light h-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">

        
          <div class="card wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;">
            <div class="card-body">

      
              <div class="form-header blue-gradient p-0">
                <h5 class="font-weight-500 white-text h4-responsive my-2 py-2">Enter OTP ?</h5>
              </div>
<p> Please enter the OTP you received via sms</p>
             
              <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control">
                <label for="orangeForm-name">Resgistered Email</label>
              </div>


              <div class="md-form">
                <i class="fas fa-mobile prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control">
                <label for="orangeForm-pass">Resgistered Mobile</label>
              </div>
              <div class="md-form">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control">
                <label for="orangeForm-pass">New password</label>
              </div>
              <div class="md-form">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control">
                <label for="orangeForm-pass">Confirm password</label>
              </div>
             

              <div class="text-center">
                <button class="btn btn-sm btn-outline-danger waves-effect waves-light">Cancel</button>
                <button class="btn btn-sm blue-gradient waves-effect waves-light">Submit</button>
               
              </div>

            </div>
          </div>
          

        </div>
      </div>
    </div>
  </div>
</section> -->