<div class="login-page">
 
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar ">
  <div class="container">
     <!-- Brand -->
     <a class="navbar-brand" href="#" target="_blank">
     <img src="assets/img/logoconcor.png" style=" height:60px;">
     </a>
     <!-- Collapse -->
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <!-- <span class="navbar-toggler-icon"></span> -->
     </button>
         
  </div>
</nav>

<section class="view intro-2">
  
 <div class="mask rgba-stylish-light h-100 d-flex justify-content-center align-items-center">
   <div class="container">
     <div class="row">
       <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">

         <!-- Form with header -->
         <div class="card wow fadeIn" data-wow-delay="0.3s">
           <div class="card-body">

             <!-- Header -->
             <div class="form-header blue-gradient p-0">
               <h4 class="font-weight-500 h4-responsive my-2 py-2">FMLM Login</h4>
             </div>

             <!-- Body -->
             <div class="md-form">
               <i class="fas fa-user prefix grey-text"></i>
               <input type="text" id="orangeForm-name" class="form-control">
               <label for="orangeForm-name">Your name</label>
             </div>

             <!-- <div class="md-form">
               <i class="fas fa-envelope prefix grey-text"></i>
               <input type="text" id="orangeForm-email" class="form-control">
               <label for="orangeForm-email">Your email</label>
             </div> -->

             <div class="md-form">
               <i class="fas fa-lock prefix grey-text"></i>
               <input type="password" id="orangeForm-pass" class="form-control">
               <label for="orangeForm-pass">Your password</label>
             </div>
             <div class="row mb-4">
               <div class="col-md-6 d-flex justify-content-center">
                 <!-- Checkbox -->
                 <div  class="form-check">
                   <input  type="checkbox" checked="" class="form-check-input" id="30exampleCheck120">
                   <label  class="form-check-label" for="30exampleCheck120">Remember User</label>
                 </div>
               </div>

               <div class="col-md-6 d-flex justify-content-center">
                 <!-- Simple link -->
                 <a href="#!">Forgot password?</a>
               </div>
             </div>

             <div class="text-center">
               <button class="btn btn-sm blue-gradient">Login</button>
               <!-- <hr class="mt-4"> -->
               <!-- <div class="inline-ul text-center d-flex justify-content-center"> -->
                 <!-- <a class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter grey-text"></i></a> -->
                 <!-- <a class="p-2 m-2 fa-lg li-ic"><i class="fab fa-linkedin-in grey-text"> </i></a> -->
                 <!-- <a class="p-2 m-2 fa-lg ins-ic"><i class="fab fa-instagram grey-text"> </i></a> -->
               <!-- </div> -->
             </div>

           </div>
         </div>
         <!-- Form with header -->

       </div>
     </div>
   </div>
 </div>
</section>
</div>